body {
	font-family: sans-serif;
	background-color: #c6eafb;
}

hr {
	color: #00ADEF;
	background-color: #00ADEF;
	height: 6px;
	border: none;
	padding-left: 0px;
}

hr.px2 {
	color: #00ADEF;
	background-color: #00ADEF;
	height: 2px;
	border: none;
	padding-left: 0px;
}

table {
	border-collapse: collapse;
}

table.nav {
	width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    background: transparent;
}

table.nav {
	border: none;
}

td.nav-off {
	text-decoration: none;
	background-color: #1a75bc;
	text-align: center;
	border: none;
}

td.nav-on {
	text-decoration: none;
	background-color: #00ADEF;
	text-align: center;
	border: none;
}

a.nav-off {
	text-decoration: none;
	color: #FFFFFF;
}

a.nav-on {
	text-decoration: none;
	color: #FFFF00;
}

th, td {
	padding: 2px;
	text-align: left;
}

table, th, td {
	border: 1px solid black;
}

th {
	background-color: #555;
	color: #fff;
}

tr {
	color: #000;
	background-color: #ddd;
}

tr:nth-child(even) {
	color: #000;
	background-color: #eee;
}

a.nav-off {
	text-decoration: none;
	color: #FFFFFF;
}

a.nav-on {
	text-decoration: none;
	color: #FFFF00;
}

td.nav-off {
	text-decoration: none;
	background-color: #1a75bc;
	text-align: center;
}

td.nav-on {
	text-decoration: none;
	background-color: #00ADEF;
	text-align: center;
}

.header {
    background: black;
    color: white;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}
.header::after {
    content: "";
    display: block;
    clear: both;
}
.logo {
    float: left;
    margin-right: 4px;
    height: 96px;
}

.header h1 {
    margin: 0;
}

.footer {
    background: black;
    width: 100%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
  gap: 8px;
}

.card {
  width: 100%;
  background-color: #bde0f5;
}

.card-thumb {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  color: #fff;
  background-color: #000;
  display: grid;
  place-items: center;
  text-align: center;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  text-align: center;
}

.card-name {
  font-weight: 600;
  font-size: 1.0rem;
}
.card-description {
  font-weight: 400;
  font-size: 0.8rem;
}
.card-year {
  font-weight: 600;
  font-size: 0.8rem;
}
.card-manufacturer {
  font-weight: 400;
  font-size: 0.8rem;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.toolbar > div:last-child {
    text-align: right;
}
