body {
	font-family: sans-serif;
	background-color: #c6eafb;
}

hr {
	color: #00ADEF;
	background-color: #00ADEF;
	height: 6px;
	border: none;
	padding-left: 0px;
}

hr.px2 {
	color: #00ADEF;
	background-color: #00ADEF;
	height: 2px;
	border: none;
	padding-left: 0px;
}

table {
	border-collapse: collapse;
}

table.nav {
	width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    background: transparent;
}

table.nav {
	border: none;
}

td.nav-off {
	text-decoration: none;
	background-color: #1a75bc;
	text-align: center;
	border: none;
}

td.nav-on {
	text-decoration: none;
	background-color: #00ADEF;
	text-align: center;
	border: none;
}

a.nav-off {
	text-decoration: none;
	color: #FFFFFF;
}

a.nav-on {
	text-decoration: none;
	color: #FFFF00;
}

th, td {
	padding: 2px;
	text-align: left;
}

table, th, td {
	border: 1px solid black;
}

th {
	background-color: #555;
	color: #fff;
}

tr {
	color: #000;
	background-color: #ddd;
}

tr:nth-child(even) {
	color: #000;
	background-color: #eee;
}

a.nav-off {
	text-decoration: none;
	color: #FFFFFF;
}

a.nav-on {
	text-decoration: none;
	color: #FFFF00;
}

td.nav-off {
	text-decoration: none;
	background-color: #1a75bc;
	text-align: center;
}

td.nav-on {
	text-decoration: none;
	background-color: #00ADEF;
	text-align: center;
}

.header {
    background: black;
    color: white;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}
.header::after {
    content: "";
    display: block;
    clear: both;
}
.logo {
    float: left;
    margin-right: 4px;
    height: 96px;
}

.header h1 {
    margin: 0;
}

.footer {
    background: black;
    width: 100%;
}
