body {
  font-family: sans-serif;
  background: #c6eafb;
}

.header,
.footer {
  background: #000;
  color: #fff;
  padding: 4px;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 24px 24px 0 0;
}
.logo { height: 96px; }
.header h1 { margin: 0; }

hr {
  background: #00adef;
  height: 6px;
  border: 0;
}
hr.px2 { height: 2px; }

table { border-collapse: collapse; }
th, td {
  padding: 2px;
  text-align: left;
  border: 1px solid #000;
}
th {
  background: #555;
  color: #fff;
}

tr { background: #ddd; }
tr:nth-child(even) { background: #eee; }

table.nav {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
  background: transparent;
  border: 0;
}
td.nav-off,
td.nav-on {
  text-align: center;
  border: 0;
}
td.nav-off { background: #1a75bc; }
td.nav-on  { background: #00adef; }
a.nav-off,
a.nav-on {
    text-decoration: none;
}
a.nav-off { color: #fff; }
a.nav-on  { color: #ff0; }

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
    gap: 8px;
}

.card,
.card-gg,
.card-ig,
.card-pg,
.card-pp {
    width: 100%;
}

.card    { background: #f2f2f2; }
.card-gg { background: #e6ffe6; }
.card-ig { background: #ffffe6; }
.card-pg { background: #fff0e6; }
.card-pp { background: #ffe6e6; }

.card-thumb {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  text-align: center;
  color: #fff;
  background: #262626;
}

.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  text-align: center;
}

.card-name { font: 600 1rem sans-serif; }
.card-year { font: 600 0.8rem sans-serif; }

.card-description,
.card-manufacturer {
  font-size: 0.8rem;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.checkbox-group {
  border: 1px solid #00adef;
  padding: 8px;
  display: flex;
  gap: 8px;
}
.toolbar-input {
  display: flex;
  gap: 8px;
  padding: 8px;
}
.toolbar-input input {
  flex: 1;
  padding: 4px;
  box-sizing: border-box;
}
